apiVersion: extensions/v1beta1
kind: Deployment
spec:
  replicas: {{ deployment.replicas }}
  template:
    metadata:
      labels:
        app: ironic-conductor
    spec:
      nodeSelector:
        {{ deployment.control_node_label }}: enabled
      hostNetwork: true
      hostPID: true
      dnsPolicy: ClusterFirst
      containers:
        - name: ironic-conductor
          image: {{ deployment.image.conductor }}
          imagePullPolicy: Always
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "ironic-conductor"
            - name: DEPENDENCY_JOBS
              value: "ironic-db-sync"
            - name: DEPENDENCY_SERVICE
              value: "rabbitmq"
            - name: DEPENDENCY_CONFIG
              value: "/etc/ironic/ironic.conf"
          volumeMounts:
            - name: ironicconf
              mountPath: /configmaps/ironic.conf
            - name: pxeboot
              mountPath: /pxeboot
            - name: resolvconf
              mountPath: /etc/resolv.conf
              subPath: resolv.conf
        - name: ironic-pxe
          image: {{ deployment.image.ironic_pxe }}
          imagePullPolicy: Always
          # TODO(DTadrzak): it must be removed in future
          securityContext:
            runAsUser: 0
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "bash /tmp/ironic-pxe.sh"
            - name: DEPENDENCY_CONFIG
              value: "/tmp/ironic-pxe.sh,/pxeboot/tftpboot/pxelinux.cfg/default,/map-file"
          volumeMounts:
            - name: ironicpxe
              mountPath: /configmaps/ironic-pxe.sh
            - name: default
              mountPath: /configmaps/default
            - name: mapfile
              mountPath: /configmaps/map-file
            - name: pxeboot
              mountPath: /pxeboot
            - name: resolvconf
              mountPath: /etc/resolv.conf
              subPath: resolv.conf
        - name: ironic-http
          image: {{ deployment.image.ironic_http }}
          imagePullPolicy: Always
          volumeMounts:
            - name: pxeboot
              mountPath: /pxeboot
            - name: resolvconf
              mountPath: /etc/resolv.conf
              subPath: resolv.conf
            - name: defaultconf
              mountPath: /etc/nginx/conf.d/
          ports:
            - containerPort: {{ network.port.http }}
      volumes:
        - name: ironicconf
          configMap:
            name: ironic-conf
        - name: ironicpxe
          configMap:
            name: ironic-pxesh
        - name: default
          configMap:
            name: pxelinux-default
        - name: pxeboot
          emptyDir: {}
        - name: resolvconf
          configMap:
            name: ironic-resolvconf
        - name: defaultconf
          configMap:
            name: nginx-defaultconf
        - name: mapfile
          configMap:
            name: map-file
