apiVersion: v1
kind: ConfigMap
data:
  init.sh: |+
    #!/bin/bash

    radosgw-admin user info --uid="{{ ceph.rgw_user }}"

    if [ $? -gt 0 ]; then
            radosgw-admin user create --uid="{{ rgw.user }}" --display-name="{{ rgw.user }}"
            radosgw-admin subuser create --uid="{{ rgw.user }}" --subuser={{ rgw.subuser }} --access=full
            radosgw-admin key create --subuser="{{ rgw.subuser }}" --key-type=swift --secret={{ ceph.secret_uuid }}
            radosgw-admin user modify --uid="{{ rgw.user }}" --temp-url-key="{{ rgw.temp_url_key }}"
    fi

    ceph auth get client.bootstrap-rgw  -o /var/lib/ceph/bootstrap-rgw/ceph.keyring || exit 1
    /entrypoint.sh rgw

