apiVersion: v1
kind: ConfigMap
data:
  default.conf: |+
    server {
        listen       {{ network.port.http }};
        server_name  localhost;

        location / {
            root   /pxeboot/httpboot;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
