apiVersion: v1
kind: ConfigMap
data:
  default: |+
    default menu.c32
    prompt 0
    timeout 5
    ONTIMEOUT local
    MENU TITLE Main Menu
    LABEL local
    MENU LABEL Boot local hard drive
    LOCALBOOT 0
