apiVersion: v1
kind: Service
spec:
  ports:
    - port: {{ network.port.api }}
  {% if not network.ingress.enabled %}
  externalIPs: {{ network.external_ips }}
  {% endif %}
  selector:
    app: ironic-api
