apiVersion: batch/v1
kind: Job
spec:
  template:
    spec:
      restartPolicy: OnFailure
      # TODO(DTadrzak): it must be removed in future
      securityContext:
        runAsUser: 0
      containers:
        - name: ironic-db-sync
          image: {{ deployment.image.db_sync }}
          imagePullPolicy: Always
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "ironic-dbsync"
            - name: DEPENDENCY_JOBS
              value: "ironic-init"
            - name: DEPENDENCY_SERVICE
              value: "mariadb"
            - name: DEPENDENCY_CONFIG
              value: "/etc/ironic/ironic.conf"
          volumeMounts:
            - name: ironicconf
              mountPath: /configmaps/ironic.conf
      volumes:
        - name: ironicconf
          configMap:
            name: ironic-conf
